@use '../../_shared/mixins' as *;

.header {
  background: var(--secondary-color);
  color: var(--on-secondary-color);
  width: calc((5rem * 5) - 20px);
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  padding: 15px;
  border-radius: var(--border-radius);
}

.controls {
  @include button-container;
}

button {
  @include button;
}

.report-button {
  @include button-container;
  button {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    border: 1px solid var(--primary-color);
    min-width: 10rem;
  }
}
